#m-68cf0b81-f3e1-46c0-a494-5399d378f46b.master {
  transform: translate(-14px,-69px);
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_1 {
  position: absolute;
  width: 76.00816345214844px;
  height: 19.637943267822266px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_2 {
  position: absolute;
  width: 76.25806427001953px;
  height: 19.517322540283203px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_20 {
  position: absolute;
  width: 18.824432373046875px;
  height: 18.744888305664062px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_21 {
  position: absolute;
  width: 92.30994415283203px;
  height: 21.092926025390625px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_22 {
  position: absolute;
  width: 21.855838775634766px;
  height: 21.855838775634766px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_23 {
  position: absolute;
  width: 8.195746421813965px;
  height: 1.3664703369140625px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_24 {
  position: absolute;
  width: 10.139925956726074px;
  height: 5.461263656616211px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_25 {
  position: absolute;
  width: 54.30145263671875px;
  height: 23.10831069946289px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_26 {
  position: absolute;
  width: 66.88471984863281px;
  height: 18.077484130859375px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_27 {
  position: absolute;
  width: 23.795852661132812px;
  height: 26.58754539489746px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Circle_1 {
  position: absolute;
  width: 26.60054588317871px;
  height: 26.719505310058594px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Union_1 {
  position: absolute;
  width: 17.7335205078125px;
  height: 26.477134704589844px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_17 {
  position: absolute;
  width: 108.1995849609375px;
  height: 20.900306701660156px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_14 {
  position: absolute;
  width: 121.88247680664062px;
  height: 15.8907470703125px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_15 {
  position: absolute;
  width: 69.81929016113281px;
  height: 7.98663330078125px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_16 {
  position: absolute;
  width: 31.313156127929688px;
  height: 31.728866577148438px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_18 {
  position: absolute;
  width: 8.004608154296875px;
  height: 3.50372314453125px;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_32 {
  position: absolute;
  width: 102.92315673828125px;
  height: 19.107921600341797px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_15 {
  position: absolute;
  width: 69.81929016113281px;
  height: 7.98663330078125px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_32 {
  position: absolute;
  width: 102.92315673828125px;
  height: 19.107921600341797px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Union_1 {
  position: absolute;
  width: 17.7335205078125px;
  height: 26.477134704589844px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Circle_1 {
  position: absolute;
  width: 26.60054588317871px;
  height: 26.719505310058594px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b.master {
  transform: translate(-14px,-69px);
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_18 {
  position: absolute;
  width: 8.004608154296875px;
  height: 3.50372314453125px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_26 {
  position: absolute;
  width: 66.88471984863281px;
  height: 18.077484130859375px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_24 {
  position: absolute;
  width: 10.139925956726074px;
  height: 5.461263656616211px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_25 {
  position: absolute;
  width: 54.30145263671875px;
  height: 23.10831069946289px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_22 {
  position: absolute;
  width: 21.855838775634766px;
  height: 21.855838775634766px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_14 {
  position: absolute;
  width: 121.88247680664062px;
  height: 15.8907470703125px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_2 {
  position: absolute;
  width: 76.25806427001953px;
  height: 19.517322540283203px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_20 {
  position: absolute;
  width: 18.824432373046875px;
  height: 18.744888305664062px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_27 {
  position: absolute;
  width: 23.795852661132812px;
  height: 26.58754539489746px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_21 {
  position: absolute;
  width: 92.30994415283203px;
  height: 21.092926025390625px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_23 {
  position: absolute;
  width: 8.195746421813965px;
  height: 1.3664703369140625px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_17 {
  position: absolute;
  width: 108.1995849609375px;
  height: 20.900306701660156px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_1 {
  position: absolute;
  width: 76.00816345214844px;
  height: 19.637943267822266px;
}
.m-68cf0b81-f3e1-46c0-a494-5399d378f46b #Path_16 {
  position: absolute;
  width: 31.313156127929688px;
  height: 31.728866577148438px;
}
#loadMark-m-68cf0b81-f3e1-46c0-a494-5399d378f46b {
  width: 1px;
  visibility: hidden;
  display: none;
}
#m-68cf0b81-f3e1-46c0-a494-5399d378f46b.master > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}